@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bangers&family=Catamaran:wght@100&family=Cookie&family=Festive&family=Gloria+Hallelujah&family=Indie+Flower&family=Lobster&family=Nanum+Pen+Script&family=Pacifico&family=Permanent+Marker&family=VT323&family=Sigmar+One&family=Yellowtail&display=swap');

html{
    position:relative;
    min-height:100%
}
body{
    min-height:100%;
}

.app{
  position:absolute;
    width:100%;
    color:#dedede;
    display:flex;
    flex-direction:row;
   height:100%
}

