.drag-container{
    width:100px;
    height:100px;
    position:relative;
}

.aaaa{
    width:100px;
    height:100px;
    color:blue;
    background-color:red;
    position:relative;
    margin:0;
    max-height:600px;
    max-width:600px;
}
.hand{
    width:20px;
    height: 20px;
    background-color:blue;
    position:absolute;
    border-radius:50%;
}

.q{
    top:0;
}
.w{
    top:0;
   left:90px;
    
}
.e{
    top:90px;
}
.r{
    left:90px;
    top:90px;
}
.test{
    position:absolute;
    top:0;
    left:0;
    min-height:400px;
    max-height:600px;
    width:600px;
}