.image{
    width:70%;
    background-color:#121212;
}

.image-max{
    position:relative;
    margin:3rem auto;
    min-height:400px;
    max-height:600px;
    width:500px;
}
img{
    display:none;
}

