.options{
   width:25%;
   position:relative;
    background-color:#373737;
    overflow-y: scroll;
   
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #949494 #2d2d2d;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #2d2d2d;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #949494;
    border-radius: 20px;
    border: 3px solid #949494;
  }

  input[type="file"] {
    display: none;
}
  .uploader{
    background-color:#292929;
    position:relative;
    display:block;
    cursor:pointer;
    width:50%;
    height:120px;
    text-align:center;
    margin: 2rem auto;
    border-radius:10px;
    font-size:1.2rem;
    animation-name: uploaderLoaded;
    animation-duration: .6s;
    animation-fill-mode: forwards;
  }
  @keyframes uploaderLoaded {
    from {transform: translateX(-30%);opacity:0}
    to {transform: translateX(0%);opacity:1;}
  }
  .uploader .centered{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .uploadIcon{
    font-size:2rem;
    padding-top:1rem;
  }